/AlertTest.class
/DoubleClickTest.class
/DropDownTest.class
/FrameTest.class
/GooglePageTest.class
/JavaScriptExeTest.class
/Locator.class
/LoginTest.class
/MovetoElementTest.class
/PopupWindowTest.class
/WebTableTest.class
